!!!
html
  head
    title= title
    include ../public/stylesheets/style.css
  body!= body
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js')
  script(src='http://ajax.cdnjs.com/ajax/libs/underscore.js/1.2.3/underscore-min.js')
  script(src='http://ajax.cdnjs.com/ajax/libs/backbone.js/0.5.3/backbone-min.js')
  script(src='javascripts/client-app.js')  
